form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
  }
  
  label {
    display: block;
    margin: 1rem 0;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  textarea {
    height: 150px;
  }
  
  #submit {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  #map {
    height: 100%;
    width: 100%;
  }

  #map-fieldset {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.day {
  border: 1px solid gray;
  padding: 5px;
}

.time {
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.time:hover {
    background-color: #24a0ed;
    color: white
}

.chosen-time {
  border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
    background-color: #24a0ed;
    color: white
}
  