.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
  }

  .container::before {
    content: "";
    background-image: url(../images/coffee.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.title{
    color:  #65483D;
}

.text{
    color: #65483D;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #9E8279;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.1);
  }